streamlit~=1.56.0
numpy~=2.2.6
pandas~=2.3.3
folium~=0.20.0
streamlit-folium
scipy~=1.15.3
shapely~=2.1.2
selenium~=4.43.0
webdriver-manager
beautifulsoup4
lxml
requests~=2.33.1
httpx~=0.28.1
matplotlib~=3.10.8